@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid black;
  padding: 30px;
  border-radius: 5px;
  background-color: #FFD15C;
}

.header {
    align-items: center;
    margin-bottom: 20px;
  }

.header h1 {
    text-align: center;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    font-family: inherit;
  }

.btn-block {
    display: block;
    width: 100%;
  }

.btn:active {
    transform: scale(0.98);
  }

.counter {
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
}

.counter-label {
  font-size: larger;
  font-weight: bold;
}

.quote-box {
  margin: 10px 0px;
  border-radius: 5px;
  /* border: 2px solid white; */
  padding: 10px 20px;
  background-color: #023047;
  color: white;
}